{:source-paths
 ["src/dev"
  "src/main"
  "src/test"]

 :dependencies
 [[reagent "0.8.1"]
  [binaryage/oops "0.7.0"]
  [binaryage/devtools "0.9.10"]
  [org.clojure/test.check "0.9.0"]
  [cider/cider-nrepl "0.21.1"]
  [cljs-bean "1.3.0"]]

 :builds
 {:han
  {:target :react-native
   :init-fn app/init
   :output-dir "build"
   :devtools {:autoload true
              :preloads [devtools.preload]}
   :compiler-options {:infer-externs :auto}}

  :player
  {:target :browser
   :asset-path "/audio-engine"
   :output-dir "public/audio-engine"
   :devtools {:loader-mode :eval
              :console-support false}
   :modules {:index {:entries [audio.engine]}}
   :compiler-options {:infer-externs :auto}}

  :test
  {:target :node-test
   :output-to "build/test.js"
   :ns-regexp "-test$"
   :autorun   true
   :compiler-options {:reader-features #{:test}}}}

 :nrepl {:port 9000}}
